<b><u><h2>How to play?</h2></u></b>
<h6>
    To start a new game, just select one of the many themes available and click on the "Start Game" button. You will get 20 questions to try and get as much points as possible.
</h6><br><br>
<b><u><h2>How does the scoring system work?</h2></u></b>
<h6>
    The scoring system is based on the question type and difficulty, the harder it is the more points you gain. However, this also means that you will lose more points for wrong answers.
</h6><br><br>

<table>
    <tr>
        <th></th>
        <th></th>
        <th></th>
        <td colspan="2" >Type</td>
    </tr>
    <tr>
        <td>Difficulty</td>
        <td>Correct</td>
        <td>Incorrect</td>
        <td>T/F</td>
        <td>Multiple</td>
    </tr>
    <tr>
        <td>Easy</td>
        <td>1</td>
        <td>-1</td>
        <td>x2</td>
        <td>x4</td>
    </tr>
    <tr>
        <td>Medium</td>
        <td>3</td>
        <td>-2</td>
        <td>x2</td>
        <td>x4</td>
    </tr>
    <tr>
        <td>Hard</td>
        <td>6</td>
        <td>-4</td>
        <td>x2</td>
        <td>x4</td>
    </tr>
  </table> 