.scoreHeader{
    text-align: center !important;
}

input[type=text]{
	appearance: none;
	border-radius: 8px;
	border: solid 1px;
	color: inherit;
	display: inline-block;
	outline: 0;
	padding: 0 1em;
	text-decoration: none;
	width: 55%;
	font-family: "Source Sans Pro", Helvetica, sans-serif;
	font-size: 17pt;
	font-weight: 300;
	line-height: 1.65;
	background-color: rgba(222, 222, 222, 0.25);
	border-color: #dddddd;
	height: 60px;
	margin: 1em 0em;
}

.btn-secondary:hover {
    background-color: #e2d1d1;
}

.btn-secondary {
	border-radius: 10px;
    border-color: #000000;
	border-width: 2px;
	padding: 0 1em;
	margin: 0.5em 0em 1em 1em;
	width: 35%;
	height: 60px;
	font-weight: bold;
	white-space: normal;
	word-wrap: break-word;
}
