<div *ngIf = "!EndOfQuiz && this.quizService.quizzes.length > 0" id="mainDiv" class= "mainDiv">
    <h4 class="scoreHeader">Score: {{currentScore}}</h4>
    <h4 class="questionHeader">Question {{currentIndex+1}} of {{this.quizService.quizzes.length}}</h4><br>
    <div id="questionDiv">
        <h3> {{currentQuestion}}
            <div class="row">
                <ul *ngFor="let c of choices" class='col-lg-6 col-md-6'>
                    <button id={{c}} class="btn btn-primary choiceBtn no-transition" (click)="checkAnswer($event, c)"
                >{{c}}</button><br>
                </ul>
            </div>
        </h3>
        <button *ngIf="!isLastQuestion" id="nextBtn" class="btn btn-primary nxtBtn" (click)="nextQuestion($event)" disabled >Next</button>
        <button *ngIf="isLastQuestion" id="finishBtn" class="btn btn-primary nxtBtn" (click)="finishQuiz()" disabled>Finish</button>
    </div>
</div>
<div *ngIf="EndOfQuiz">
    <app-results
    [currentScore]='currentScore'></app-results>
</div>