<div class="container">
    <form #f="ngForm">
        <select (change)="updadeLeaderboard(f)" name="Category" [(ngModel)]=Category>
            <option *ngFor="let category of categories" [selected]="category.category_id === Category" [ngValue]="category.category_id" class="btn btn-primary"
        >{{category.category_name}}</option>
        </select><br><br>
    </form>
    <div class="leaderboard">
        <div class="head">
			<h1>Top Scores</h1>
        </div>
        <div class="body">
            <ol>
                <li class="empty" *ngIf="Scores.length === 0">
                    <mark>No scores available for this Category</mark>
                </li>
                <li *ngFor="let s of Scores" >
                    <mark>{{s.name}}</mark>
                    <small>{{s.score}}</small>
                </li>
            </ol>
        </div>
    </div>
</div>