<div *ngIf= "this.quizService.apiToken.length == 0"
  class="loading">
</div>

<!-- Wrapper -->
<div *ngIf= "this.quizService.apiToken.length > 0"  
   id="wrapper">

    <!-- Header -->
      <header id="header" class="alt">
        <!-- <h1>Hello There</h1> -->
      </header>
      
    <nav id="nav">
        <ul>
            <li><a class="hoverable" routerLink="/main">Main</a></li>
            <li><a class="hoverable" routerLink="/leaderboards">Leaderboards</a></li>
            <li><a class="hoverable" routerLink="/tutorial">Tutorial</a></li>
            <li><a class="hoverable" routerLink="/about">About</a></li>
        </ul>
    </nav>
  
    <!-- Main -->
      <div id="main">
  
        <!-- First Section -->
          <section id="first" class="main special">
            <ul class="features">
              <router-outlet></router-outlet>
            </ul>
          </section>
      </div>
</div>